.pers {
  width: 400px;
  background-color: tomato;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
}
.pers > button {
  background-color: aliceblue;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}
.pers > button:hover {
  background-color: burlywood;
}
